
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <div class="container">
       
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/fl2.jpeg" alt="">
                <img src="../../assets/images/fl2.jpeg" alt="">
            </div>
            <div class="col-md-6">
                <div class="card" style="min-height:300px;">
                    <div class="card-block">
                        
                        <div class="mask flex-center rgba-black-strong">
                            
                            <h1>Welcome to Flashcards</h1>
                        </div>
                        
                        <div class="card-text">
                            
                        </div>
                        <br>
                       
                    </div>
                </div>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/fl.jpeg" alt="">
            </div>
            <div class="col-md-6">
                <div class="card" style="min-height:300px;">
                    <div class="card-block">
                        <h2>We help you to save <br> your important <br> notes </h2>
                        
                        <div class="card-text">
                            
                        </div>
                        <br>
                       
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <br>
    <div class="footer">
        <!-- Footer -->
      <footer class="page-footer font-small unique-color-dark pt-4" style="background-color: #343a40;color: white;">
      
          <!-- Footer Elements -->
          <div class="container">
         
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
              <li class="list-inline-item">
                <h5 class="mb-1">Flashcards <i class="fas fa-trophy"></i>  <br> Study with Flashcards</h5>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-white btn-rounded" style="color: green;font-weight: bolder;">Sign up!</a>
              </li>
            </ul>
            <!-- Call to action -->
         
          </div>
          <!-- Footer Elements -->
         
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a > Dev Wilson & Edwin Kimathi</a>
          </div>
          <!-- Copyright -->
         
         </footer>
         <!-- Footer -->
      
      </div>
</body>
</html>